.root{
    -fx-background-color:#0f4f46;
}

.top-bar{
    -fx-padding:25;
}

.page-title{
    -fx-font-size:30;
    -fx-font-weight:bold;
    -fx-text-fill:white;
}

.pending-label{
    -fx-text-fill:white;
    -fx-font-weight:bold;
}

.primary-button{
    -fx-background-color:white;
    -fx-text-fill:#0f4f46;
    -fx-font-weight:bold;
    -fx-background-radius:10;
}

.content-area{
    -fx-padding:25;
}

.request-card{
    -fx-background-color:white;
    -fx-background-radius:16;
    -fx-padding:20;

    -fx-effect:dropshadow(
        gaussian,
        rgba(0,0,0,0.08),
        12,
        0,
        0,
        2
    );
}

.request-title{
    -fx-font-size:20;
    -fx-font-weight:bold;
}

.status-pending{
    -fx-background-color:#fff4d6;
    -fx-background-radius:20;
    -fx-padding:5 12;
    -fx-text-fill:#d97706;
    -fx-font-weight:bold;
}

.approve-btn{
    -fx-background-color:#0f4f46;
    -fx-text-fill:white;
    -fx-background-radius:10;
}

.reject-btn{
    -fx-background-color:#c0392b;
    -fx-text-fill:white;
    -fx-background-radius:10;
}